[Unit]
Description=Bind Mount for OpenSSH Config

[Mount]
What=/data/ssh
Where=/etc/ssh
Options=bind
Type=none
TimeoutSec=1s

[Install]
RequiredBy=local-fs.target
