[Unit]
Description=Bind Mount for NetworkManager Connections

[Mount]
What=/data/system-connections
Where=/etc/NetworkManager/system-connections
Options=bind
Type=none
TimeoutSec=1s

[Install]
RequiredBy=local-fs.target
