[Unit]
Description=Bind Mount for Bluetooth Config

[Mount]
What=/data/bluetooth
Where=/var/lib/bluetooth
Options=bind
Type=none
TimeoutSec=1s

[Install]
RequiredBy=local-fs.target
